.box {
  font-family: "Karla", sans-serif;
  position: fixed;
  top: 1.5rem;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.box,
.nav,
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  position: relative;
  background-color: #fcf6f4;
  padding: 15px;
  transition: 0.5s;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu {
  margin: 0;
  padding: 0;
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}

.nav input:checked ~ .menu {
  width: 220px;
}

.menu li {
  list-style: none;
  margin: 0 10px;
}

.menu li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 400;
  /* transition: 0.5s; */
}

.menu li a:hover {
  font-weight: bold;
}

.nav input {
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 0;
}

.nav span {
  position: absolute;
  left: 16px;
  width: 30px;
  height: 4px;
  border-radius: 50px;
  background-color: black;
  pointer-events: none;
  transition: 0.5s;
}

.nav input:checked ~ span {
  background-color: #db3a3a;
}

.nav span:nth-child(2) {
  transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
  transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
  transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
  transform: translateY(0) rotate(45deg);
}

@media screen and (max-width: 415px) {
  .box .nav {
    top: -0.5rem;
    transform: scale(0.6);
  }
}
